<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374411072723-a9cird6fsn1b2isrrgbnej6i9pr8v5fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374411072723-a9cird6fsn1b2isrrgbnej6i9pr8v5fb</string>
	<key>API_KEY</key>
	<string>AIzaSyDAlVvQC8fD3_ev2ONYN3xjZd5hxlHnS5w</string>
	<key>GCM_SENDER_ID</key>
	<string>374411072723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.manager.app</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-34df8</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-34df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374411072723:ios:8cf98ee3a4df0b8a4db026</string>
</dict>
</plist>